<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script src="/js/angular.js"></script>
</head>

<body ng-app="flashCards" ng-cloak>
    <div ng-controller="StatsController" id="statistics">
        <div id="scoreboard">
            <h3>Correct: <span>{{ scores.correct }}</span></h3>
            <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
        </div>
    </div>
    <div ng-controller="NewCardController">
      <form ng-submit="addFlashCard(newCard)" name="newCardForm" novalidate>
        <div class="question">
          <label>Question</label>
          <input type='text' name = "question" ng-model='newCard.question' required ng-minlength="15"/>
          <span class="error" ng-show="newCardForm.question.$error.required">
            Required!
          </span>
          <span class="error" ng-show="newCardForm.question.$error.minlength">
            Too short!
          </span>
        </div>

        <div class="categories">
          <label>Categories</label>
          <select ng-model='newCard.category' name='category' required>
            <option name = "category" ng-repeat='category in categories'>{{ category }}</option>
          </select>
            <span class="error" ng-show="newCardForm.category.$error.required">
              Required!
            </span>
        </div>
        <div class="answers">
          <label>Answers</label>
          <li ng-repeat="answer in newCard.answers track by $index">
          <input type="text" ng-model="answer.text" ng-maxlength="40" name='answer{{$index}}'></input>
          <input type="checkbox" ng-model="answer.correct"></input>
            <span class="error" ng-show="newCardForm.answer{{$index}}.$error.maxlength">
              Answer is too long!
            </span>
          </li>
        </div>
        <button type='submit' class='btn-primary'>Submit</button>
        <button type = "reset" ng-click = "reset()">Reset</button>
      <pre>{{newCard | json}}</pre>
      </form>
      </div>

    <div ng-controller="MainController">
        <div class="cats">
            <button border-hover ng-repeat="category in categories" class="category-button" ng-click="getCategoryCards(category)" ng-class="{ active: category === selectedCategory }">{{ category }}</button>
            <button class="category-button" ng-click="getCategoryCards()" ng-class="{ active: selectedCategory === undefined }">All</button>
            <loader ng-show="loading"></loader>
        </div>
        <flash-card card="flashCard" ng-hide="loading" ng-repeat="flashCard in flashCards | orderBy : 'question'"></flash-card>
        <script src="/js/app.js"></script>
        <script src="/js/controllers/main.controller.js"></script>
        <script src="/js/controllers/score.controller.js"></script>
        <script src="/js/controllers/newCard.controller.js"></script>
        <script src="/js/factories/flashcard.factory.js"></script>
        <script src="/js/factories/score.factory.js"></script>
        <script src="/js/directives/loader/loader.js"></script>
        <script src="/js/directives/flashcard/flashcard.js"></script>
        <script src="/js/directives/boldborder/boldborder.js"></script>
</body>

</html>
